@charset "utf-8";
/* CSS Document */

* {
margin: 0;/*external space*/
padding:0;/*internal space*/
font-weight:normal;
font-size:100%;/*16px*/
text-decoration:none;
}

html {
  background-color:#fcf3cf;
}

body {
  background-color: white;
  max-width:960px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  font-size:125%;
	line-height:100%;
	font-family: 'Roboto', sans-serif;
}

header {
  background-color:#ff930d;
  font-size:22px;
}



h1 {
  color:white;
  margin:25px 0;
  padding: 10px;
  text-align:center;
  font-family:sans-serif;
}

nav ul {
  list-style-type:none;
  display:flex;
  flex-direction:row;
  justify-content:center;
}

nav ul a {
  font-size: 18px;
  color:white;
  display:block;
  padding:20px;
  transition:background-color .5s;
}
nav ul a:hover {
  background-color:white;
  color: #ff930d;
  text-decoration: underline;
}

h2 {
  color:white;
  background-color: #ff930d;
  padding: 20px;
  font-size:20px;
  text-decoration: none;
  margin:30px 0;
  text-align:center;
  font-family:sans-serif;
}

p {
  color:#7d6608;
  font-size:12px;
  text-decoration: none;
  margin:20px 0;
  padding: 10px;
  text-align:center;
  font-family:sans-serif;
}

footer {
  font-size: 10px;
  background-color: #ff930d;
  padding: 5px;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: inherit;
}


img:nth-child(2) {
  clear:left;
  max-height: inherit;
  width: 100%;
  background-image:url(../images/flower-bkg.jpg);
  background-position:center;
  background-size:cover;
}




main:nth-child(5) {
	display:flex;
	flex-wrap:wrap;
  justify-content: center;
}
main:nth-child(5) div {
	flex:3;
	padding:0;
}


header {
	position:sticky;
	top:0;
	background-color:rgba(255,147,13,.9);
	box-shadow:1px 2px 3px black;
}


button {
	background-color:black;
	padding:5px 15px;
	color:white;
	border-width: medium;
  border-color:white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.modal_off {
	display:none; /*hides the modal*/
}

.modal_on {
	display:block; /*reveals the modal*/
	position:fixed;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,.8);
	padding:50px;
}

.modal_on div {
	background-color:white;
	text-align:center;
	padding:25px;
}




@media screen and (max-width:480px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }
  main {
    flex-direction: column;
    background-color: white;
  }
  header {
    position:static;
  }
}

@media screen and (max-width:768px) {
  section:nth-child(5) {
    flex-direction: column;
  }
  main {
    flex-direction: column;
  }
}
